@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-color: #e1e1dc;
    margin: 0px;
    font-family: 'Inter Tight',serif;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #393939;
    display: flex;
    flex-direction: column;
}

.wrapper{
  flex-grow: 1;
}
.state-label{
  font-size: 30px;
  font-weight: bolder;
}
.timer-label{
  font-size: 36px;
  font-family: 'Bebas Neue';
}
.main-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  width: 99vw;
  height: 97vh;
  gap: 6px;
  margin: 6px;
}
.card{
  height: 100%;
  background-color: #cacac1;
  border-radius: 20px;
}
.ambience-card{
  color: #cacac1;
  background-color: #2e2e2e;
}
.bottom-card{
  color: #cacac1;
  background-color: #2e2e2e;
}
.control-panel-card{
  overflow: hidden;
  justify-content: center;
}
.control-btn{
  position: relative;
  border: none;
  border-radius: 10px;
  background-color: #757862;
  color: #dcd8d8;
  font-weight: normal;
  font-size: larger;
  padding: 0.25rem 0.5rem;
}
.inc-btn{
  top: 10%;
  left: 10%;
}


