@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: #e1e1dc;
    margin: 0px;
    font-family: 'Inter Tight',serif;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #393939;
    display: flex;
    flex-direction: column;
}

.wrapper{
  flex-grow: 1;
}
.state-wrapper{
  text-align: center;
  margin: 10% 0%;
  width: 100%;
}
.state-label{
  font-size: 20px;
  font-weight: bolder;
  margin: 0%;
}
.work-label{
  color: #777772;
  font-weight: normal;
  font-family: 'Raleway';
  font-style: italic;
  position: relative;
  top: 15px;
}
.timer-label{
  font-size: 100px;
  font-family: 'Inter Tight';
  font-weight: 900;
  margin: 0%;
}
.bottom-status-bar{
  display: flex;
  position: relative;
  top: 15%;
  width: 100%;
  justify-content: center;
  gap: 30%;
}
.timer-card-date{
  text-align: center;
  margin: 6px 2px 0px 0px;
  padding: 2px 4px;
  font-size: small;
  color: #2e2e2e;
  border-radius: 20px;
  flex-grow: 1;
}
.main-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  width: 99vw;
  height: 97vh;
  gap: 6px;
  margin: 6px;
}
.card{
  height: 100%;
  background-color: #cacac1;
  border-radius: 20px;
  overflow: hidden;
}
.bottom-card{
  color: #cacac1;
  background-color: #2e2e2e;
}
.control-panel-card{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-btn{
  position: relative;
  border: none;
  border-radius: 14px;
  background-color: #8c8c73;
  color: #dcd8d8;
  font-weight: normal;
  font-size:medium;
  padding: 0.25rem 0.5rem;
  width: 80px;
  transition: 100ms cubic-bezier(0,.71,.47,1);
}
.control-btn:hover{
  opacity: 0.8;
  border: #2e2e2e solid 1px;
}
.inc-btn{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inc-br-btn{

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.reset-btn{

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.dec-btn{

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.dec-br-btn{

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.start-btn{

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.controls{
  position: absolute;
  top: 5%;
  font-weight: normal;
}
.control-panel-content{
  width: 93%;
  height: 93%;
  background-color: #a3a39c;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-panel-timer{
  margin: 3px;
  border: #2e2e2e solid 2px;
  border-radius: 5px;
  padding: 2px 4px;
  background-color: #2e2e2e;
  color: #dcd8d8;
  font-weight: normal;
}
.button-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #989891;
  padding: 1rem;
  border-radius: 24px;
}
.control-panel-wrk-label{
  width: 220px;
  margin: 0;
  text-align: center;
  font-size: small;
  font-weight: bold;
}
.timer-card{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timer-clock{
  width: 15%;
  text-align: center;
  margin: 6px 2px 0px 0px;
  padding: 2px 4px;
  font-size: small;
  background-color: #2e2e2e;
  color: #dcd8d8;
  border-radius: 20px;
}

.ambience-card{
  color: #cacac1;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.ambience-wrapper{
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: #2e2e2e;
  animation: test 20s infinite ease;
  opacity: 0;
  border-radius: 20px;
  filter: blur(100px);
}

@keyframes test {
  from{
    background-color: greenyellow;
    rotate: 0deg;
  }
  50%{
    background-color: cadetblue;
  }
  to{
    background-color: greenyellow;
    rotate: 360deg;
  }
}.ambience-title{
  z-index: 1;
  font-weight: normal;
}